#bookingContainer{
    display: flex;
    justify-content: space-between;
    
    height: 890px;
    padding:70px ;
}


#info{
    padding-top: 0px;
    width: 80%;
    text-align: center;
    margin: auto 60;
}

#booking{
    padding-top: 50px;
    background-color: white;
    width: 40%;
    border-radius: 10px;
    height: 50%;
    margin: auto 0;
}