#fb-google Button{
    width: 500px;
    margin-bottom: 20px;
}

.style{
    margin-top: 50px;
    background-position: center;
    background-image: url(https://az712897.vo.msecnd.net/images/full/1bb541e8-ffa2-4499-aff2-5f38a09d10b8.jpeg);
}